In [1]:
import pandas as pd

In [14]:
a = [1, 3, 5, 6]
b = [4, 5, 4 ,6]
c = [5, 3, 5, 3]

In [15]:
df = pd.DataFrame([a, b, c], ['r1', 'r2', 'r3'], ['c1', 'c2', 'c3', 'c4'])
df

    c1  c2  c3  c4
r1   1   3   5   6
r2   4   5   4   6
r3   5   3   5   3

In [6]:
df['c5'] = df['c1'] ** 2
df

    c1  c2  c3  c4  c5
r1   1   3   5   6   1
r2   4   5   4   6  16
r3   5   3   5   3  25

In [13]:
df1 = df.drop(columns=['c3'])
df1

    c1  c2  c4  c5
r1   1   3   6   1
r3   5   3   3  25

In [16]:
df

    c1  c2  c3  c4
r1   1   3   5   6
r2   4   5   4   6
r3   5   3   5   3

In [17]:
df.loc['r1']

c1    1
c2    3
c3    5
c4    6
Name: r1, dtype: int64

In [19]:
df.iloc[2]

c1    5
c2    3
c3    5
c4    3
Name: r3, dtype: int64

In [22]:
df.loc['r2', 'c3']

4

In [23]:
df.iloc[1, 2]

4

In [25]:
df

    c1  c2  c3  c4
r1   1   3   5   6
r2   4   5   4   6
r3   5   3   5   3

In [24]:
df % 2 == 0

       c1     c2     c3     c4
r1  False  False  False   True
r2   True  False   True   True
r3  False  False  False  False

In [26]:
df[df % 2 == 0]

     c1  c2   c3   c4
r1  NaN NaN  NaN  6.0
r2  4.0 NaN  4.0  6.0
r3  NaN NaN  NaN  NaN

In [31]:
df[df['c4'] % 2 == 0][['c1', 'c3']]

    c1  c3
r1   1   5
r2   4   4